body{
    margin: 0px;
    padding: 0px;
}

header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(83, 146, 172);
    color: #ffffff;
}

nav{
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li{
    display: inline-block;
    margin-left: 25px;
}

main{
    text-align: center;
    height: 600px;
}

footer{
    clear: both;
    text-align: center;
    width: 100%;
    background: rgb(83, 146, 172);
    vertical-align:bottom;
    height: 115px;
}

.container{
    display: inline-block;
    background:rgb(83, 146, 172);;
    width: 40%;
    min-height: 350px;
    margin: 20px 60px;
    vertical-align: top;
    border-radius: 5px;
}

#align{
    padding: 10px 10px 0px 10px;;
}

#logo{
    display: inline-block;
    font-size: 32px;
    padding-left: 20px;
}

#image{
    width: 500px;
    height: 250px;
    padding: 20px 20px 10px 20px;
}